.jumbotron {
    width: 100%;
    background-image: url("http://clickwallpapers.com/1080p/football-field-wallpapers-desktop-background-On-Wallpaper-1080p-HD.jpg");
    background-position: center;
    background-size: cover;
    color: #86461e;
    font-size: 55px;
    -webkit-text-stroke: white;
    font-family: 'Sleepers';
    text-align: center;
    border-radius : 30px; 
    padding: 15px;
}
.body{
    text-align: center;
    background-color: rgb(161, 148, 148);
}
.card-title>h5{
    text-align: center;
    height: 10px;
    background-clip: border-box;
}

.card-title{
    text-align: center;
}

#msgList {
    width: 200px;
    height: 200px;
    overflow-y: scroll;
    border: 5px solid rgb(185, 17, 17);
    margin: 0 auto 10px;
    text-align: left;
}


.btn-group  {
    float: right;
}

.leagueButtons {
    border-radius: 30px;
    padding: 10px;
}

@font-face {
    font-family: 'Sleepers';
    src: url(../images/KR\ Football\ Fun\ copy.ttf)
}

