.jumbotron {
    width: 100%;
    background-image: url("http://clickwallpapers.com/1080p/football-field-wallpapers-desktop-background-On-Wallpaper-1080p-HD.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

.body{
    text-align: center;
    background-color: rgb(161, 148, 148);
}

.card-title>h5{
    text-align: center;
    height: 10px;
    background-clip: border-box;
}

.card-title{
    text-align: center;
    margin-bottom: 3px;
}

.dropdown-menu {
    overflow-y: scroll;
    height: 250px;
}

.card-header {
    font-size: 13px;
    margin-bottom: -10px;
    font-weight: bold;
}

.card {
    border-radius: 30px;    
    border-width: 10px;
}

.card-body {
    padding: 0.25rem;
}

label {
    border-radius: 10px;
    font-size: 13px;
}

input {
    border-radius: 10px;
    font-size: 13px;
    margin-right: 30px;
    margin-bottom: 10px;
}

#msgList {
    height: 65px;
    overflow-y: scroll;
    margin: 0 auto 10px;
    text-align: left;
}

#start {
    margin: auto;
    margin-top: 10px;
    background-color: green;
    color: white;
}

.btn-group  {
    float: right;
}

.leagueButtons {
    border-radius: 30px;
    padding: 10px;
}

hr {
    border-width: 5px;
}

#msgList {
    width: 100%;
}

.positionButtons {
    font-size: 10px;
    margin-top: -4px;
    margin-right: -2px;
    margin-left: -2px;
}

th {
    font-size: 13px;
    background-color: beige;
    font-weight: bold;
    color: black;
}

td {
    font-size: 12px;
}

#firstScreen, #zipCode {
    text-align: center;
}

#dropdownMenuLink {
    margin: auto;
    margin-top: 300px;
}

#K {
    margin-right: -12px;
}

.layout {
    margin: 5px -5px 5px -5px;
}

.bars {
    border-radius: 10px;
    border-width: 1px;
    width: 13rem;
    height: 330px;
}

.img-size {
    margin: 20px auto;
    height: 150px;  
    width: 150px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .3);
}

#zipCode {
    margin: auto;
    margin-top: 10px;
}

#barInfo {
    text-align: center;
}

.barText {
    font-size: 12px;
}

#topHR {
    margin-top: -10px;
}

#tableBackground {
    background: rgba(0, 0, 0, .6)
}

.logos {
    margin: 0 auto;
}

.logoDiv {
    display: flex;
}

a {
    color: white; 
}

a:hover {
    color: black; 
}
